<?php if (!empty($regions)){ ?>
	<label for="<?php echo $object_alias; ?>">
		Список <?php if($object_alias == 'region'){ ?>областей<?php }elseif($object_alias == 'city'){ ?>городов<?php }elseif($object_alias == 'district'){ ?>районов<?php } ?>:
	</label>

	<select class="chzn-select" name="<?php echo $object_alias; ?>" id="<?php echo $object_alias; ?>" onchange="newlist('<?php echo $object_alias; ?>');">
		<?php foreach($regions as $region){ ?>
			<option value="<?php echo $region['ter_address']; ?>"><?php echo $region['ter_address']; ?></option>
		<?php } ?>
	</select>
<?php }else{ ?>
	<div class="submit">Для данного города нет районов или сёл</div>
<?php } ?>